@import 'variables.scss';

@import url('/documents/20128/190187180/sicoob-styles.css');

.portlet-column-content.empty {
  padding: 0 !important;
}

// @import 'prehome.scss';

@import 'home.scss';

@import 'bg-fluid.scss';

html {
  scroll-behavior: smooth;
}

a:focus-visible,
a:focus,
button:focus,
button:focus-visible {
  outline: none !important;
}

.portlet-nested-portlets .portlet-boundary.elements,
.elements .portlet {
  position: static !important;
}



/* 
--------------------------------
GERAIS
--------------------------------
*/


img {
  user-select: none;
  pointer-events: none;
}


@keyframes bg-flow {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 120% 25%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 40% 90%;
  }

  100% {
    background-position: 0% 50%;
  }
}


#elements {
  --element-size: 1.25;
  overflow: hidden;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: blur(200px);
  z-index: 1;
  pointer-events: none;
  user-select: none;


  .elements {
    .portlet {
      position: static;
    }

    &1 {
      position: absolute;
      top: -15%;
      left: -60%;
      width: calc(100vw * var(--element-size));
      animation: element-flow1 40s infinite ease-in-out;
    }

    &2 {
      position: absolute;
      bottom: -15%;
      right: -75%;
      width: calc(100vw * var(--element-size));
      animation: element-flow2 40s infinite ease-in-out;
    }
  }

  @keyframes element-flow1 {
    0% {
      top: -15%;
      left: -60%;
      rotate: 0deg;
    }

    25% {
      top: -35%;
      left: -30%;
      rotate: 30deg;
    }

    50% {
      top: -20%;
      left: -50%;
      rotate: -35deg;
    }

    75% {
      top: -30%;
      left: -90%;
      rotate: 20deg;
    }

    100% {
      top: -15%;
      left: -60%;
      rotate: 0deg;
    }
  }

  @keyframes element-flow2 {
    0% {
      bottom: -15%;
      right: -75%;
      rotate: 0deg;
    }

    25% {
      bottom: -25%;
      right: -10%;
      rotate: -20deg;
    }

    50% {
      bottom: 0%;
      right: -80%;
      rotate: 25deg;
    }

    75% {
      bottom: -40%;
      right: -30%;
      rotate: -30deg;
    }

    100% {
      bottom: -15%;
      right: -75%;
      rotate: 0deg;
    }
  }
}

.owl {
  &-solucoes {
    .owl-stage-outer {
      overflow: visible !important;
    }

  }

  &-motivos {
    margin: auto;
    max-width: var(--card-size);

    .item {
      max-width: var(--card-size);
    }
  }

  &-prev,
  &-next {
    position: absolute;
    top: 40%;
    translate: 0 -50%;
    height: 25%;
    width: 30px;
    border-radius: var(--size-2);
    transition: var(--transition-1);
    opacity: 1;
    font-size: 1.5rem;

    &:hover {
      backdrop-filter: blur(10px);
      opacity: .6;

    }

    &.disabled {
      opacity: 0;
    }

    span {
      opacity: 0;
    }
  }


  &-prev {
    background: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23003641\' viewBox=\'0 0 20 20\' width=\'18\' height=\'18\'%3e%3cpath d=\'M14.3,2.4c0.5,0.5,0.5,1.3,0,1.8L8.4,10l5.8,5.8c0.5,0.5,0.5,1.3,0,1.8c-0.5,0.5-1.3,0.5-1.8,0l-6.7-6.7c-0.5-0.5-0.5-1.3,0-1.8l6.7-6.7C13,1.9,13.8,1.9,14.3,2.4z\'/%3e%3c/svg%3e') center center no-repeat !important;
    left: -24px;
  }

  &-next {
    background: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23003641\' viewBox=\'0 0 20 20\' width=\'18\' height=\'18\'%3e%3cpath d=\'M5.7,17.6c-0.5-0.5-0.5-1.3,0-1.8l5.8-5.8L5.7,4.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0l6.7,6.7 c0.5, 0.5, 0.5, 1.3, 0, 1.8l-6.7, 6.7C7, 18.1, 6.2, 18.1, 5.7, 17.6z\'/%3e%3c/svg%3e') center center no-repeat !important;
    right: -24px;
  }

  &-dots {
    display: flex;
    justify-content: center;
    gap: var(--size-2);
    padding: var(--size-3);
  }

  &-dot {
    height: var(--size-3);
    width: var(--size-3);
    border-radius: var(--size-3);
    background-color: $cinza-400 !important;
    transition: var(--transition-1);

    &.active {
      width: calc(var(--size-3)*2);
      background-color: $turq !important;
    }
  }

}


#banner {

  .titulo {
    h1 {
      span {
        line-height: 1;
      }
    }

    .mais {
      font-size: calc(2.6rem + 2vw);
    }

    .uma,
    .financa {
      font-size: calc(2.4rem + 2vw);
    }
  }

  .bg-gradiente {
    --gradiente-color-1: var(--turq-300);
    --gradiente-color-2: var(--turq-500);
    --gradiente-dir: 330deg;
    background-image: linear-gradient(var(--gradiente-dir), var(--gradiente-color-1), var(--gradiente-color-2));
    transition: var(--transition-2);
    background-size: 150%;
    background-position: center;

    &:hover {
      background-position: 90%;
    }
  }

  img {
    max-height: 430px;
    height: 100%;
    translate: 0 1px;
  }

}

#faixa {
  .qrcode {
    max-width: 110px;

    img {
      width: 100%;
    }
  }

  .playstore-button {
    --app-color-1: var(--verdee);
    --app-color-2: var(--turq);
  }
}

#solucoes {
  overflow: hidden;

  .card {
    border-radius: var(--size-3) !important;
    margin-bottom: 0px;

    &-img-top {
      transition: var(--transition-1)
    }

    &-body {
      padding: 1.25rem !important;
      text-align: center;
      height: calc(var(--font-size-5)*1.15*2 + var(--font-size-bs)*1.2*2 + .75rem + 1.25rem*2);
    }

    &-title {
      font-size: var(--font-size-5) !important;
      line-height: 1.12 !important;
      margin-bottom: .75rem !important;
    }

    &-text {
      line-height: 1.2 !important;
    }

    &-footer {
      padding: 1.25rem !important;
      padding-top: 0px !important;
    }

    &-footer,
    &-header {
      background: transparent !important;
      border: 0px !important;
    }

    &:hover {
      scale: 1.025;

      @media (max-width:992px) {
        scale: 1;
      }
    }
  }

  .owl-stage-outer:hover .card:not(:hover) {
    scale: .975;

    @media (max-width:992px) {
      scale: 1;
    }

    img {
      filter: grayscale(1);

      @media (max-width:992px) {
        filter: none;
      }

    }
  }

}

#video {
  position: relative;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $verdee;
    background-image: linear-gradient(0deg, black 0%, rgba(0, 0, 0, .2) 50%, black 100%);
    ;
    opacity: 0.5;
    z-index: 1;
    mix-blend-mode: multiply;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

#motivos {
  --card-size: 350px;
  translate: 0 1px;

  .card {
    max-width: var(--card-size);
    border-radius: var(--size-3) !important;
    border: 1px solid $turq;
    background: linear-gradient(0deg, $turq-500, $turq);
    margin-bottom: 0px;

    &-body {
      display: flex;
      align-items: center;
      height: calc(var(--font-size-5)*1.15*4 + 1.25rem*2);
    }

    &-title {
      font-size: var(--font-size-5) !important;
      line-height: 1.12 !important;
      color: $verdee !important;
    }

    &-header {
      padding-bottom: 0px !important;

      &-icon {
        --header-icon-size: 50px;
        width: var(--header-icon-size);
        height: var(--header-icon-size);
        place-content: center;
        place-items: center;

        svg {
          max-width: var(--header-icon-size);
          max-height: var(--header-icon-size);
        }
      }
    }

    &-footer,
    &-header {
      background: transparent !important;
      border: 0px !important;
    }

  }
}

#pj {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(50% - 1rem);
    height: 100%;
    background-color: $turq-300;
    background-image: url(https://www.sicoob.com.br/documents/20128/202305458/pj.jpg);
    background-size: cover;
    background-position: top center;
    border-radius: 0 var(--size-3) var(--size-3) 0;
    z-index: 0;

    @media (max-width:992px) {
      right: 0;
      width: 100%;
      height: 300px;
      border-radius: 0px !important;
    }
  }

  .pj-space {
    height: 300px;
  }
}

#infantil {
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(50% - 1rem);
    height: 100%;
    background-color: $turq-300;
    background-image: url(https://www.sicoob.com.br/documents/20128/202305458/infantil.jpg);
    background-size: cover;
    background-position: center;
    border-radius: var(--size-3) 0 0 0;
    z-index: 0;

    @media (max-width:992px) {
      left: 0;
      width: 100%;
      height: 348px;
      border-radius: var(--size-3);
    }
  }

  .iconlist {
    --iconlist-size: 35px;
  }

  .infantil {
    position: relative;

    &-infos {
      max-width: 445px;
    }

    &-img {
      position: absolute;
      bottom: 1rem;
      left: 2rem;
      z-index: 0;

      img {
        width: 20vw;
        max-width: 200px;
        min-width: 150px;
      }
    }

    &-space {
      min-height: 300px;
      user-select: none;
    }
  }
}

#futebol {
  background-color: $verdee;
  background-image: url(https://www.sicoob.com.br/documents/20128/202305458/estadio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  button {
    background: transparent;
    border: 0;
  }

  .carousel-control {

    &-prev {
      @media (max-width:1200px) {
        left: -1rem;
      }

      &-icon {
        background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23FFFFFF\' viewBox=\'0 0 20 20\' width=\'16\' height=\'16\'%3e%3cpath d=\'M14.3,2.4c0.5,0.5,0.5,1.3,0,1.8L8.4,10l5.8,5.8c0.5,0.5,0.5,1.3,0,1.8c-0.5,0.5-1.3,0.5-1.8,0l-6.7-6.7c-0.5-0.5-0.5-1.3,0-1.8l6.7-6.7C13,1.9,13.8,1.9,14.3,2.4z\'/%3e%3c/svg%3e');
        width: 24px;
        height: 24px;
      }
    }

    &-next {
      @media (max-width:1200px) {
        right: -1rem;
      }

      &-icon {
        background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23FFFFFF\' viewBox=\'0 0 20 20\' width=\'16\' height=\'16\'%3e%3cpath d=\'M5.7,17.6c-0.5-0.5-0.5-1.3,0-1.8l5.8-5.8L5.7,4.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0l6.7,6.7 c0.5, 0.5, 0.5, 1.3, 0, 1.8l-6.7, 6.7C7, 18.1, 6.2, 18.1, 5.7, 17.6z\'/%3e%3c/svg%3e');
        width: 24px;
        height: 24px;
      }
    }

    &-prev,
    &-next {
      top: 50%;
      translate: 0 -50%;
      height: 25%;
      width: 30px;
      border-radius: var(--size-2);
      transition: var(--transition-1);

      &:hover {
        background-color: rgba($color: #FFF, $alpha: .1);
        backdrop-filter: blur(20px);
        opacity: 0.6;
      }
    }
  }


}

.aproveitar {

  &-cta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
    align-items: center;

    @media (max-width:992px) {
      flex-direction: column;
      align-items: start;
    }


  }
}

.qrcode {
  width: 115px;

  @media (max-width:992px) {
    display: none;
  }
}

.baixar {
  display: none;
  gap: var(--size-2);

  @media (max-width:992px) {
    display: flex;
  }

  .playstore-button {
    --app-color-1: var(--branco);
    --app-color-2: var(--verdee);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--app-color-2);
    border-radius: 999px;
    padding: 0.5rem 1.25rem;
    text-align: center;
    outline: 0;
    transition: var(--transition-1);
    text-decoration: none;
    min-width: 150px;
    background-color: var(--app-color-2);
    color: var(--app-color-1);

    &:hover {
      background-color: transparent;
      color: var(--app-color-2);
    }

    .icon {
      height: 1.5rem;
      width: 1.5rem;
    }

    .texts {
      margin-left: .75rem;
      display: flex;
      text-wrap: nowrap;
      text-align: left;
      flex-direction: column;
      align-items: flex-start;
      line-height: 1;
    }

    .text-1 {
      margin-bottom: 0.1rem;
      font-size: var(--font-size-xs);
    }

    .text-2 {
      font-size: var(--font-size-sm);
      font-weight: 600;
    }
  }

}

#footer-padrao {
  background: var(--verdee);
  fill: var(--branco);
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;

  .smaller {
    font-size: 0.75rem !important;
  }

  .social {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3rem;
    margin-bottom: 1.5rem;

    @media (max-width: 768px) {
      justify-content: center;
    }

    a {
      display: block;
    }
  }


  .c-rodape {
    color: var(--branco) !important;
  }

  &.bg-branco {
    background: var(--branco);
    fill: var(--verdee);

    .c-rodape {
      color: var(--verdee) !important;
    }

    .social {
      padding-bottom: 0rem;
      margin-bottom: 1.5rem;
    }
  }

}