@import url("/documents/20128/190187180/sicoob-styles.css");
.portlet-column-content.empty {
  padding: 0 !important;
}

#pre-home-wrapper .imagem-fundo,
#pre-home-wrapper .col-xl-4.content .row img,
#pre-home-wrapper .col-xl,
#pre-home-wrapper .col-xl-3,
#pre-home-wrapper #btnNaoCoop,
#loading-wrapper {
  display: none;
}

@media (min-width: 992px) and (max-width: 1280px) {
  #pre-home-wrapper .col-xl-4.content .row h1 {
    max-width: 80% !important;
  }
}
@media (min-width: 1280px) {
  #pre-home-wrapper .col-sm-6 {
    flex: 100% !important;
    max-width: 100% !important;
  }
}
#pre-home-wrapper .content,
#pre-home-wrapper .row.buttons {
  margin: 0px !important;
}

#pre-home-wrapper {
  padding-top: 2rem;
}

a:focus-visible,
a:focus,
button:focus,
button:focus-visible {
  outline: none !important;
}

header .bottom .logo img {
  height: 37px !important;
}

header .bottom .troca-site {
  display: block !important;
}

header .bottom .navbar-toogle {
  margin: 0.25rem 0 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--turq);
}

/* 
--------------------------------
GERAIS
--------------------------------
*/
img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.nav-section {
  position: fixed;
  width: 100%;
  transition: opacity 0.5s, top 1s ease-in-out, -webkit-backdrop-filter 0.5s;
  transition: opacity 0.5s, backdrop-filter 0.5s, top 1s ease-in-out;
  transition: opacity 0.5s, backdrop-filter 0.5s, top 1s ease-in-out, -webkit-backdrop-filter 0.5s;
  background: rgb(0, 54, 65);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  right: 0;
  left: 0;
  top: 0;
  z-index: 979;
}
@media only screen and (min-width: 991px) {
  .nav-section .collapsing {
    height: 100% !important;
  }
}
.nav-line {
  height: 4px;
  z-index: 989;
  position: absolute;
  display: block;
}
.nav-line-space {
  padding-top: 4px;
}
.nav-hidden {
  top: -52px;
}
.navbar-brand {
  display: inline-flex;
}
.navbar-brand #sicoob-logo .logo-name {
  transition: 0.5s all ease;
}
.navbar-brand #sicoob-logo.logo-clean {
  height: 24px !important;
}
.navbar-brand #sicoob-logo.logo-clean .logo-name {
  opacity: 0;
}
.navbar-dark .navbar-toggler {
  border: 0 !important;
  box-shadow: none !important;
}
.navbar-dark .navbar-toggler:focus-visible {
  outline: 0 !important;
}
.navbar-dark .collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI2LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA2MCAzMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjAgMzA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTU2LjgsNS4ySDQuNWMtMS4xLDAtMi0wLjktMi0yczAuOS0yLDItMmg1Mi4zYzEuMSwwLDIsMC45LDIsMlM1Ny45LDUuMiw1Ni44LDUuMnoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTU2LjgsMTdINC41Yy0xLjEsMC0yLTAuOS0yLTJzMC45LTIsMi0yaDUyLjNjMS4xLDAsMiwwLjksMiwyUzU3LjksMTcsNTYuOCwxN3oiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTU2LjgsMjguOEg0LjVjLTEuMSwwLTItMC45LTItMnMwLjktMiwyLTJoNTIuM2MxLjEsMCwyLDAuOSwyLDJTNTcuOSwyOC44LDU2LjgsMjguOHoiLz4KPC9zdmc+Cg==") !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCAzMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMwMGFlOWQ7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTU2Ljc1LDUuMTlINC40OGEyLDIsMCwwLDEsMC00SDU2Ljc1YTIsMiwwLDAsMSwwLDRaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNTYuNzUsMTdINC40OGEyLDIsMCwwLDEsMC00SDU2Ljc1YTIsMiwwLDAsMSwwLDRaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNTYuNzUsMjguODFINC40OGEyLDIsMCwwLDEsMC00SDU2Ljc1YTIsMiwwLDAsMSwwLDRaIi8+PC9zdmc+");
  transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-item {
  text-align: end;
  margin: 0 0.5rem;
  cursor: pointer;
  height: 100%;
}
.navbar-nav .nav-link {
  color: var(--branco) !important;
  line-height: 1rem;
  display: inline-flex;
  border-bottom: 2px solid var(--transparente);
  margin-top: 2px;
  font-size: 0.9rem;
  height: 100%;
  text-align: center;
  position: relative;
}
.navbar-nav .nav-link:hover::after {
  width: 100%;
  inset: auto auto 2px 0;
}
.navbar-nav .nav-link.active::after {
  width: 100%;
  inset: auto auto 2px 0;
}
.navbar-nav .nav-link::after {
  width: 0;
  height: 1px;
  background: var(--turq);
  position: absolute;
  content: "";
  inset: auto 0 2px auto;
  transition: width cubic-bezier(0.8, 0, 0.2, 1) 400ms;
}

@keyframes bg-flow {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 120% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 40% 90%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradiente {
  position: relative;
  background-color: var(--branco);
}
.gradiente section {
  position: relative;
  z-index: 1;
}

#elements {
  --element-size: 1.25;
  overflow: hidden;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: blur(200px);
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#elements .elements1 {
  position: absolute;
  top: -15%;
  left: -60%;
  width: calc(100vw * var(--element-size));
  animation: element-flow1 40s infinite ease-in-out;
}
#elements .elements2 {
  position: absolute;
  bottom: -15%;
  right: -75%;
  width: calc(100vw * var(--element-size));
  animation: element-flow2 40s infinite ease-in-out;
}
@keyframes element-flow1 {
  0% {
    top: -15%;
    left: -60%;
    rotate: 0deg;
  }
  25% {
    top: -35%;
    left: -30%;
    rotate: 30deg;
  }
  50% {
    top: -20%;
    left: -50%;
    rotate: -35deg;
  }
  75% {
    top: -30%;
    left: -90%;
    rotate: 20deg;
  }
  100% {
    top: -15%;
    left: -60%;
    rotate: 0deg;
  }
}
@keyframes element-flow2 {
  0% {
    bottom: -15%;
    right: -75%;
    rotate: 0deg;
  }
  25% {
    bottom: -25%;
    right: -10%;
    rotate: -20deg;
  }
  50% {
    bottom: 0%;
    right: -80%;
    rotate: 25deg;
  }
  75% {
    bottom: -40%;
    right: -30%;
    rotate: -30deg;
  }
  100% {
    bottom: -15%;
    right: -75%;
    rotate: 0deg;
  }
}

.owl-solucoes .owl-stage-outer {
  overflow: visible !important;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 40%;
  translate: 0 -50%;
  height: 25%;
  width: 30px;
  border-radius: var(--size-2);
  transition: var(--transition-1);
  opacity: 1;
  font-size: 1.5rem;
}
.owl-prev:hover, .owl-next:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.6;
}
.owl-prev.disabled, .owl-next.disabled {
  opacity: 0;
}
.owl-prev {
  left: -24px;
}
.owl-next {
  right: -24px;
}
.owl-dots {
  display: flex;
  justify-content: center;
  gap: var(--size-2);
  padding: var(--size-3);
}
.owl-dot {
  height: var(--size-3);
  width: var(--size-3);
  border-radius: var(--size-3);
  background-color: var(--cinza-400) !important;
  transition: var(--transition-1);
}
.owl-dot.active {
  width: calc(var(--size-3) * 2);
  background-color: var(--turq) !important;
}

#banner .titulo h1 span {
  line-height: 1;
}
#banner .titulo .mais {
  font-size: calc(2.6rem + 2vw);
}
#banner .titulo .uma,
#banner .titulo .financa {
  font-size: calc(2.4rem + 2vw);
}
#banner .bg-gradiente {
  --gradiente-color-1: var(--turq-300);
  --gradiente-color-2: var(--turq-500);
  --gradiente-dir: 330deg;
  background-image: linear-gradient(var(--gradiente-dir), var(--gradiente-color-1), var(--gradiente-color-2));
  transition: var(--transition-2);
  background-size: 150%;
  background-position: center;
}
#banner .bg-gradiente:hover {
  background-position: 90%;
}
#banner .bg-banner {
  margin: auto;
  position: relative;
  background-color: var(--turq);
  box-shadow: inset 0 0 50% var(--turq-600);
  overflow: hidden;
}
#banner .bg-banner .container {
  position: relative;
  z-index: 1;
}
#banner .bg-banner:before, #banner .bg-banner:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40%;
  opacity: 0.6;
  filter: blur(200px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#banner .bg-banner:before {
  background-color: var(--turq-500);
  top: -150%;
  left: -50%;
  animation: blob1 12s linear infinite;
}
#banner .bg-banner:after {
  background-color: var(--turq-300);
  bottom: -175%;
  right: -62%;
  animation: blob2 12s linear infinite;
  animation-delay: 0.5s;
}
#banner img {
  max-height: 430px;
  height: 100%;
}
@keyframes blob1 {
  0% {
    transform: rotate(0deg);
    translate: 0;
  }
  25% {
    translate: 80% 10%;
  }
  50% {
    translate: 90% 100%;
  }
  75% {
    translate: 10% 20%;
  }
  100% {
    transform: rotate(360deg);
    translate: 0;
  }
}
@keyframes blob2 {
  0% {
    transform: rotate(0deg);
    translate: 0;
  }
  25% {
    translate: -80% -10%;
  }
  50% {
    translate: -90% -100%;
  }
  75% {
    translate: -10% -20%;
  }
  100% {
    transform: rotate(360deg);
    translate: 0;
  }
}

#faixa .qrcode {
  max-width: 150px;
}
#faixa .qrcode img {
  width: 100%;
}

#solucoes {
  overflow: hidden;
}
#solucoes .card-img-top {
  transition: var(--transition-1);
}
#solucoes .card-body {
  text-align: center;
  height: calc(var(--font-size-5) * 1.15 * 2 + var(--font-size-bs) * 1.2 * 2 + 0.75rem + 2.5rem);
}
#solucoes .card-title {
  line-height: 1.12;
  margin-bottom: 0.75rem !important;
}
#solucoes .card-text {
  line-height: 1.2;
}
#solucoes .card-footer {
  padding-top: 0px !important;
}
#solucoes .card:hover {
  scale: 1.025;
}
#solucoes .owl-stage-outer:hover .card:not(:hover) {
  scale: 0.975;
}
#solucoes .owl-stage-outer:hover .card:not(:hover) img {
  filter: grayscale(1);
}

#video {
  position: relative;
  overflow: hidden;
}
#video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}
#video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--verdee);
  background-image: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.2) 50%, black 100%);
  opacity: 0.5;
  z-index: 1;
  mix-blend-mode: multiply;
}
#video .container {
  position: relative;
  z-index: 2;
}

#motivos .card {
  border: 1px solid var(--turq);
  background: linear-gradient(0deg, var(--turq-500), var(--turq));
}
#motivos .card-body {
  display: flex;
  align-items: center;
  height: calc(var(--font-size-5) * 1.15 * 4 + 2.5rem);
}
#motivos .card-title {
  line-height: 1.12;
  color: var(--verdee);
}
#motivos .card-header {
  padding-bottom: 0px !important;
}
#motivos .card-header-icon {
  --header-icon-size: 50px;
  width: var(--header-icon-size);
  height: var(--header-icon-size);
}
#motivos .card-header-icon svg {
  max-width: var(--header-icon-size);
  max-height: var(--header-icon-size);
}

#pj {
  position: relative;
}
#pj:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 1rem);
  height: 100%;
  background-color: var(--turq-300);
  background-image: url(https://www.sicoob.com.br/documents/20128/202305458/pj.jpg);
  background-size: cover;
  border-radius: 0 var(--size-3) var(--size-3) 0;
  z-index: 0;
}
@media (max-width: 992px) {
  #pj:before {
    right: 0;
    width: 100%;
    height: 416px;
    border-radius: 0;
  }
}

#infantil {
  overflow: hidden;
  position: relative;
}
#infantil:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 1rem);
  height: 100%;
  background-color: var(--turq-300);
  background-image: url(https://www.sicoob.com.br/documents/20128/202305458/infantil.jpg);
  background-size: cover;
  border-radius: var(--size-3) 0 0 0;
  z-index: 0;
}
@media (max-width: 992px) {
  #infantil:before {
    left: 0;
    width: 100%;
    height: 416px;
    border-radius: var(--size-3);
  }
}
#infantil .iconlist {
  --iconlist-size: 35px;
}
#infantil .infantil {
  position: relative;
}
#infantil .infantil-infos {
  max-width: 445px;
}
#infantil .infantil-text {
  position: relative;
  font-size: 1rem !important;
}
#infantil .infantil-blob {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
#infantil .infantil-space {
  min-height: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#futebol {
  background-color: var(--verdee);
  background-image: url(https://www.sicoob.com.br/documents/20128/202305458/estadio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#futebol button {
  background: transparent;
  border: 0;
}
@media (max-width: 1200px) {
  #futebol .carousel-control-prev {
    left: -2rem;
  }
}
#futebol .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 20 20' width='16' height='16'%3e%3cpath d='M14.3,2.4c0.5,0.5,0.5,1.3,0,1.8L8.4,10l5.8,5.8c0.5,0.5,0.5,1.3,0,1.8c-0.5,0.5-1.3,0.5-1.8,0l-6.7-6.7c-0.5-0.5-0.5-1.3,0-1.8l6.7-6.7C13,1.9,13.8,1.9,14.3,2.4z'/%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
}
@media (max-width: 1200px) {
  #futebol .carousel-control-next {
    right: -2rem;
  }
}
#futebol .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 20 20' width='16' height='16'%3e%3cpath d='M5.7,17.6c-0.5-0.5-0.5-1.3,0-1.8l5.8-5.8L5.7,4.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0l6.7,6.7 c0.5, 0.5, 0.5, 1.3, 0, 1.8l-6.7, 6.7C7, 18.1, 6.2, 18.1, 5.7, 17.6z'/%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
}
#futebol .carousel-control-prev, #futebol .carousel-control-next {
  top: 50%;
  translate: 0 -50%;
  height: 25%;
  width: 30px;
  border-radius: var(--size-2);
  transition: var(--transition-1);
}
#futebol .carousel-control-prev:hover, #futebol .carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  opacity: 0.6;
}

#footer-padrao {
  background: var(--verdee);
  fill: var(--branco);
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}
#footer-padrao .smaller {
  font-size: 0.75rem !important;
}
#footer-padrao .social {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  #footer-padrao .social {
    justify-content: center;
  }
}
#footer-padrao .social a {
  display: block;
}
#footer-padrao .c-rodape {
  color: var(--branco) !important;
}
#footer-padrao.bg-branco {
  background: var(--branco);
  fill: var(--verdee);
}
#footer-padrao.bg-branco .c-rodape {
  color: var(--verdee) !important;
}
#footer-padrao.bg-branco .social {
  padding-bottom: 0rem;
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=styles.css.map */