@import url("/documents/20128/190187180/sicoob-styles.css");
.portlet-column-content.empty {
  padding: 0 !important;
}

.banner-carousel .product {
  background-color: var(--cinza-400) !important;
  margin-bottom: var(--size-5);
}
.banner-carousel .carousel {
  overflow: visible;
}
.banner-carousel .carousel-item img {
  border-radius: var(--size-3);
  overflow: hidden;
}
.banner-carousel .carousel-indicators {
  margin-block: 1rem;
  bottom: -48px;
}
.banner-carousel .carousel-indicators li {
  height: var(--size-3);
  width: var(--size-3);
  background-color: var(--cinza-400) !important;
  margin-right: var(--size-1);
  margin-left: var(--size-1);
  transition: var(--transition-1);
  border-radius: var(--size-3);
  opacity: 1;
  border: 0px !important;
}
.banner-carousel .carousel-indicators li.active {
  width: calc(var(--size-3) * 2);
  background-color: var(--turq) !important;
}

.noticias {
  margin-top: var(--size-5);
}
.noticias h2.portlet-title-text {
  font-size: var(--font-size-3) !important;
  text-align: center;
}
.noticias .list-news {
  margin-top: var(--size-4);
}
.noticias .list-news .one-news h3 {
  font-size: var(--font-size-5) !important;
}
.noticias .list-news h3 {
  font-size: var(--font-size-6) !important;
  text-wrap: balance;
  line-height: 1.12;
}
.noticias .list-news .split {
  margin: 0px !important;
}
.noticias .list-news .news,
.noticias .list-news .banner-carousel.product .carousel-item {
  border-radius: var(--size-3);
  overflow: hidden;
}
.noticias-veja-mais {
  margin-block: var(--size-5);
}

/* - Hotfix youtube icon - */
.fa-youtube-play:before {
  content: "\f167";
}

#cooperado .aproveitar-title {
  max-width: 400px;
}

.bg-fluid {
  position: relative;
  overflow: hidden;
  background: var(--mine-shaft-50);
}
.bg-fluid-banner {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--persian-green-600);
  overflow: hidden;
}
.bg-fluid-banner-shape {
  filter: blur(40px);
  border-radius: 40% 50% 30% 40%;
  opacity: 0.7;
  position: absolute;
  pointer-events: none;
}
.bg-fluid-banner-shape.shape-0 {
  background: linear-gradient(270deg, var(--persian-green-500), var(--persian-green-700));
  height: 80%;
  width: 100%;
  left: 75%;
  top: 40%;
  animation: fluid-transform 18s ease-in-out infinite both alternate, fluid-movement 12s ease-in-out infinite both;
}
.bg-fluid-banner-shape.shape-1 {
  background: linear-gradient(180deg, var(--persian-green-400), var(--persian-green-600));
  height: 80%;
  width: 50%;
  left: 5%;
  top: 5%;
  transform: rotate(-190deg);
  animation: fluid-transform 8s ease-in-out infinite both alternate, fluid-movement 20s ease-in-out infinite both;
}
.bg-fluid-banner-shape.shape-2 {
  background: linear-gradient(90deg, var(--persian-green-500), var(--persian-green-800));
  height: 80%;
  width: 40%;
  left: 50%;
  top: 60%;
  transform: rotate(-60deg);
  animation: fluid-transform 10s ease-in-out infinite both alternate, fluid-movement 24s ease-in-out infinite both;
}
.bg-fluid-banner-shape.shape-3 {
  background: linear-gradient(90deg, var(--persian-green-500), var(--persian-green-700));
  height: 60%;
  width: 30%;
  left: 800px;
  top: -10%;
  transform: rotate(-120deg);
  animation: fluid-transform 7s ease-in-out infinite both alternate, fluid-movement 36s ease-in-out infinite both;
}
.bg-fluid-banner-shape.shape-4 {
  background: linear-gradient(90deg, var(--persian-green-500), var(--persian-green-700));
  height: 50%;
  width: 40%;
  left: 60%;
  top: -20%;
  transform: rotate(-220deg);
  animation: fluid-transform 17s ease-in-out infinite both alternate, fluid-movement 13s ease-in-out infinite both;
}
.bg-fluid-banner-shape.shape-5 {
  background: linear-gradient(90deg, var(--persian-green-800), var(--persian-green-400));
  height: 90%;
  width: 40%;
  left: -20%;
  top: -20%;
  transform: rotate(-230deg);
  animation: fluid-transform 12s ease-in-out infinite both alternate, fluid-movement 22s ease-in-out infinite both;
}
.bg-fluid-banner-shape.shape-6 {
  background: linear-gradient(30deg, var(--persian-green-500), var(--persian-green-600));
  height: 70%;
  width: 30%;
  left: -10%;
  top: 70%;
  transform: rotate(-140deg);
  animation: fluid-transform 14s ease-in-out infinite both alternate, fluid-movement 18s ease-in-out infinite both;
}
.bg-fluid-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  filter: blur(40px);
}
.bg-fluid-shape {
  filter: blur(40px);
  border-radius: 40% 50% 30% 40%;
  opacity: 0.7;
  position: absolute;
  pointer-events: none;
}
.bg-fluid-shape.shape-1 {
  background: linear-gradient(180deg, var(--persian-green-100), var(--persian-green-50));
  height: 180%;
  width: 80%;
  left: 20%;
  top: 20%;
  transform: rotate(-190deg);
  animation: fluid-transform 8s ease-in-out infinite both alternate, fluid-movement-1 20s ease-in-out infinite both;
}
.bg-fluid-shape.shape-2 {
  background: linear-gradient(90deg, var(--persian-green-100), var(--persian-green-50));
  height: 180%;
  width: 90%;
  left: -70%;
  top: -50%;
  transform: rotate(-60deg);
  animation: fluid-transform 10s ease-in-out infinite both alternate, fluid-movement-2 24s ease-in-out infinite both;
}

@keyframes fluid-transform {
  0%, 100% {
    border-radius: 33% 67% 70% 30%/30% 40% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49%/37% 35% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36%/64% 48% 52% 26%;
  }
  60% {
    border-radius: 37% 63% 51% 49%/30% 30% 70% 73%;
  }
  80% {
    border-radius: 40% 60% 42% 58%/51% 51% 49% 59%;
  }
}
@keyframes fluid-movement {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.3);
  }
}
@keyframes fluid-movement-1 {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: translate(30%, 15%) rotateY(10deg) scale(1);
  }
}
@keyframes fluid-movement-2 {
  0%, 500% {
    transform: none;
  }
  50% {
    transform: translate(30%, -20%) rotate(-200deg) scale(1.3);
  }
}
html {
  scroll-behavior: smooth;
}

a:focus-visible,
a:focus,
button:focus,
button:focus-visible {
  outline: none !important;
}

.portlet-nested-portlets .portlet-boundary.elements,
.elements .portlet {
  position: static !important;
}

/* 
--------------------------------
GERAIS
--------------------------------
*/
img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

@keyframes bg-flow {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 120% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 40% 90%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#elements {
  --element-size: 1.25;
  overflow: hidden;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: blur(200px);
  z-index: 1;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#elements .elements .portlet {
  position: static;
}
#elements .elements1 {
  position: absolute;
  top: -15%;
  left: -60%;
  width: calc(100vw * var(--element-size));
  animation: element-flow1 40s infinite ease-in-out;
}
#elements .elements2 {
  position: absolute;
  bottom: -15%;
  right: -75%;
  width: calc(100vw * var(--element-size));
  animation: element-flow2 40s infinite ease-in-out;
}
@keyframes element-flow1 {
  0% {
    top: -15%;
    left: -60%;
    rotate: 0deg;
  }
  25% {
    top: -35%;
    left: -30%;
    rotate: 30deg;
  }
  50% {
    top: -20%;
    left: -50%;
    rotate: -35deg;
  }
  75% {
    top: -30%;
    left: -90%;
    rotate: 20deg;
  }
  100% {
    top: -15%;
    left: -60%;
    rotate: 0deg;
  }
}
@keyframes element-flow2 {
  0% {
    bottom: -15%;
    right: -75%;
    rotate: 0deg;
  }
  25% {
    bottom: -25%;
    right: -10%;
    rotate: -20deg;
  }
  50% {
    bottom: 0%;
    right: -80%;
    rotate: 25deg;
  }
  75% {
    bottom: -40%;
    right: -30%;
    rotate: -30deg;
  }
  100% {
    bottom: -15%;
    right: -75%;
    rotate: 0deg;
  }
}

.owl-solucoes .owl-stage-outer {
  overflow: visible !important;
}
.owl-motivos {
  margin: auto;
  max-width: var(--card-size);
}
.owl-motivos .item {
  max-width: var(--card-size);
}
.owl-prev, .owl-next {
  position: absolute;
  top: 40%;
  translate: 0 -50%;
  height: 25%;
  width: 30px;
  border-radius: var(--size-2);
  transition: var(--transition-1);
  opacity: 1;
  font-size: 1.5rem;
}
.owl-prev:hover, .owl-next:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.6;
}
.owl-prev.disabled, .owl-next.disabled {
  opacity: 0;
}
.owl-prev span, .owl-next span {
  opacity: 0;
}
.owl-prev {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23003641' viewBox='0 0 20 20' width='18' height='18'%3e%3cpath d='M14.3,2.4c0.5,0.5,0.5,1.3,0,1.8L8.4,10l5.8,5.8c0.5,0.5,0.5,1.3,0,1.8c-0.5,0.5-1.3,0.5-1.8,0l-6.7-6.7c-0.5-0.5-0.5-1.3,0-1.8l6.7-6.7C13,1.9,13.8,1.9,14.3,2.4z'/%3e%3c/svg%3e") center center no-repeat !important;
  left: -24px;
}
.owl-next {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23003641' viewBox='0 0 20 20' width='18' height='18'%3e%3cpath d='M5.7,17.6c-0.5-0.5-0.5-1.3,0-1.8l5.8-5.8L5.7,4.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0l6.7,6.7 c0.5, 0.5, 0.5, 1.3, 0, 1.8l-6.7, 6.7C7, 18.1, 6.2, 18.1, 5.7, 17.6z'/%3e%3c/svg%3e") center center no-repeat !important;
  right: -24px;
}
.owl-dots {
  display: flex;
  justify-content: center;
  gap: var(--size-2);
  padding: var(--size-3);
}
.owl-dot {
  height: var(--size-3);
  width: var(--size-3);
  border-radius: var(--size-3);
  background-color: var(--cinza-400) !important;
  transition: var(--transition-1);
}
.owl-dot.active {
  width: calc(var(--size-3) * 2);
  background-color: var(--turq) !important;
}

#banner .titulo h1 span {
  line-height: 1;
}
#banner .titulo .mais {
  font-size: calc(2.6rem + 2vw);
}
#banner .titulo .uma,
#banner .titulo .financa {
  font-size: calc(2.4rem + 2vw);
}
#banner .bg-gradiente {
  --gradiente-color-1: var(--turq-300);
  --gradiente-color-2: var(--turq-500);
  --gradiente-dir: 330deg;
  background-image: linear-gradient(var(--gradiente-dir), var(--gradiente-color-1), var(--gradiente-color-2));
  transition: var(--transition-2);
  background-size: 150%;
  background-position: center;
}
#banner .bg-gradiente:hover {
  background-position: 90%;
}
#banner img {
  max-height: 430px;
  height: 100%;
  translate: 0 1px;
}

#faixa .qrcode {
  max-width: 110px;
}
#faixa .qrcode img {
  width: 100%;
}
#faixa .playstore-button {
  --app-color-1: var(--verdee);
  --app-color-2: var(--turq);
}

#solucoes {
  overflow: hidden;
}
#solucoes .card {
  border-radius: var(--size-3) !important;
  margin-bottom: 0px;
}
#solucoes .card-img-top {
  transition: var(--transition-1);
}
#solucoes .card-body {
  padding: 1.25rem !important;
  text-align: center;
  height: calc(var(--font-size-5) * 1.15 * 2 + var(--font-size-bs) * 1.2 * 2 + 0.75rem + 2.5rem);
}
#solucoes .card-title {
  font-size: var(--font-size-5) !important;
  line-height: 1.12 !important;
  margin-bottom: 0.75rem !important;
}
#solucoes .card-text {
  line-height: 1.2 !important;
}
#solucoes .card-footer {
  padding: 1.25rem !important;
  padding-top: 0px !important;
}
#solucoes .card-footer, #solucoes .card-header {
  background: transparent !important;
  border: 0px !important;
}
#solucoes .card:hover {
  scale: 1.025;
}
@media (max-width: 992px) {
  #solucoes .card:hover {
    scale: 1;
  }
}
#solucoes .owl-stage-outer:hover .card:not(:hover) {
  scale: 0.975;
}
@media (max-width: 992px) {
  #solucoes .owl-stage-outer:hover .card:not(:hover) {
    scale: 1;
  }
}
#solucoes .owl-stage-outer:hover .card:not(:hover) img {
  filter: grayscale(1);
}
@media (max-width: 992px) {
  #solucoes .owl-stage-outer:hover .card:not(:hover) img {
    filter: none;
  }
}

#video {
  position: relative;
  overflow: hidden;
}
#video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}
#video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--verdee);
  background-image: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.2) 50%, black 100%);
  opacity: 0.5;
  z-index: 1;
  mix-blend-mode: multiply;
}
#video .container {
  position: relative;
  z-index: 2;
}

#motivos {
  --card-size: 350px;
  translate: 0 1px;
}
#motivos .card {
  max-width: var(--card-size);
  border-radius: var(--size-3) !important;
  border: 1px solid var(--turq);
  background: linear-gradient(0deg, var(--turq-500), var(--turq));
  margin-bottom: 0px;
}
#motivos .card-body {
  display: flex;
  align-items: center;
  height: calc(var(--font-size-5) * 1.15 * 4 + 2.5rem);
}
#motivos .card-title {
  font-size: var(--font-size-5) !important;
  line-height: 1.12 !important;
  color: var(--verdee) !important;
}
#motivos .card-header {
  padding-bottom: 0px !important;
}
#motivos .card-header-icon {
  --header-icon-size: 50px;
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  place-content: center;
  place-items: center;
}
#motivos .card-header-icon svg {
  max-width: var(--header-icon-size);
  max-height: var(--header-icon-size);
}
#motivos .card-footer, #motivos .card-header {
  background: transparent !important;
  border: 0px !important;
}

#pj {
  position: relative;
}
#pj:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 1rem);
  height: 100%;
  background-color: var(--turq-300);
  background-image: url(https://www.sicoob.com.br/documents/20128/202305458/pj.jpg);
  background-size: cover;
  background-position: top center;
  border-radius: 0 var(--size-3) var(--size-3) 0;
  z-index: 0;
}
@media (max-width: 992px) {
  #pj:before {
    right: 0;
    width: 100%;
    height: 300px;
    border-radius: 0px !important;
  }
}
#pj .pj-space {
  height: 300px;
}

#infantil {
  overflow: hidden;
  position: relative;
}
#infantil:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 1rem);
  height: 100%;
  background-color: var(--turq-300);
  background-image: url(https://www.sicoob.com.br/documents/20128/202305458/infantil.jpg);
  background-size: cover;
  background-position: center;
  border-radius: var(--size-3) 0 0 0;
  z-index: 0;
}
@media (max-width: 992px) {
  #infantil:before {
    left: 0;
    width: 100%;
    height: 348px;
    border-radius: var(--size-3);
  }
}
#infantil .iconlist {
  --iconlist-size: 35px;
}
#infantil .infantil {
  position: relative;
}
#infantil .infantil-infos {
  max-width: 445px;
}
#infantil .infantil-img {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 0;
}
#infantil .infantil-img img {
  width: 20vw;
  max-width: 200px;
  min-width: 150px;
}
#infantil .infantil-space {
  min-height: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#futebol {
  background-color: var(--verdee);
  background-image: url(https://www.sicoob.com.br/documents/20128/202305458/estadio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#futebol button {
  background: transparent;
  border: 0;
}
@media (max-width: 1200px) {
  #futebol .carousel-control-prev {
    left: -1rem;
  }
}
#futebol .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 20 20' width='16' height='16'%3e%3cpath d='M14.3,2.4c0.5,0.5,0.5,1.3,0,1.8L8.4,10l5.8,5.8c0.5,0.5,0.5,1.3,0,1.8c-0.5,0.5-1.3,0.5-1.8,0l-6.7-6.7c-0.5-0.5-0.5-1.3,0-1.8l6.7-6.7C13,1.9,13.8,1.9,14.3,2.4z'/%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
}
@media (max-width: 1200px) {
  #futebol .carousel-control-next {
    right: -1rem;
  }
}
#futebol .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 20 20' width='16' height='16'%3e%3cpath d='M5.7,17.6c-0.5-0.5-0.5-1.3,0-1.8l5.8-5.8L5.7,4.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0l6.7,6.7 c0.5, 0.5, 0.5, 1.3, 0, 1.8l-6.7, 6.7C7, 18.1, 6.2, 18.1, 5.7, 17.6z'/%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
}
#futebol .carousel-control-prev, #futebol .carousel-control-next {
  top: 50%;
  translate: 0 -50%;
  height: 25%;
  width: 30px;
  border-radius: var(--size-2);
  transition: var(--transition-1);
}
#futebol .carousel-control-prev:hover, #futebol .carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  opacity: 0.6;
}

.aproveitar-cta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  align-items: center;
}
@media (max-width: 992px) {
  .aproveitar-cta {
    flex-direction: column;
    align-items: start;
  }
}

.qrcode {
  width: 115px;
}
@media (max-width: 992px) {
  .qrcode {
    display: none;
  }
}

.baixar {
  display: none;
  gap: var(--size-2);
}
@media (max-width: 992px) {
  .baixar {
    display: flex;
  }
}
.baixar .playstore-button {
  --app-color-1: var(--branco);
  --app-color-2: var(--verdee);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--app-color-2);
  border-radius: 999px;
  padding: 0.5rem 1.25rem;
  text-align: center;
  outline: 0;
  transition: var(--transition-1);
  text-decoration: none;
  min-width: 150px;
  background-color: var(--app-color-2);
  color: var(--app-color-1);
}
.baixar .playstore-button:hover {
  background-color: transparent;
  color: var(--app-color-2);
}
.baixar .playstore-button .icon {
  height: 1.5rem;
  width: 1.5rem;
}
.baixar .playstore-button .texts {
  margin-left: 0.75rem;
  display: flex;
  text-wrap: nowrap;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}
.baixar .playstore-button .text-1 {
  margin-bottom: 0.1rem;
  font-size: var(--font-size-xs);
}
.baixar .playstore-button .text-2 {
  font-size: var(--font-size-sm);
  font-weight: 600;
}

#footer-padrao {
  background: var(--verdee);
  fill: var(--branco);
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}
#footer-padrao .smaller {
  font-size: 0.75rem !important;
}
#footer-padrao .social {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  #footer-padrao .social {
    justify-content: center;
  }
}
#footer-padrao .social a {
  display: block;
}
#footer-padrao .c-rodape {
  color: var(--branco) !important;
}
#footer-padrao.bg-branco {
  background: var(--branco);
  fill: var(--verdee);
}
#footer-padrao.bg-branco .c-rodape {
  color: var(--verdee) !important;
}
#footer-padrao.bg-branco .social {
  padding-bottom: 0rem;
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=styles.css.map */